* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Helvetica';
  flex-direction: column;
  background-color: #fff;
}

h2 {
  font-size: 78px;
  transition: 0.5s;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.count-down {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.no-button {
  width: 150px;
  height: 50px;
  background-color: red;
  transition: .04s;
  font-size: 16px;
  font-weight: lighter;
  margin: 50px;
}

.yes-button {
  width: 200px;
  height: 100px;
  background-color: lawngreen;
  transition: 0.5s;
  z-index: 1;
  font-size: 54px;
  font-weight: bold;
}

.yes-button:hover {
  width: 300px;
  height: 150px;
  cursor: pointer;
}

.gif {
}

.gif.active {
  position: fixed;
  justify-content: center;
  background-image: url(https://media.giphy.com/media/6oB3X3W6MYM3C/giphy.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 500px;
  z-index: 2;
}

h2.move {
  transform: translateY(-70px);
}

.reset {
  position: fixed;
  width: 80px;
  height: 40px;
  font-size: 12pt;
  background-color: dodgerblue;
  border: dodgerblue;
  top: -40px;
  transition: .5s;
}

.reset.active {
  top: 2px;
}

.reset-box {
  align-self: flex-start;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.reset:hover {
  cursor: pointer;
  background-color: dodgerblue;
  opacity: 0.8;
}

.non-desktop {
  display: none;
}

/* säger till att den bara fungera på desktop */
@media screen and (max-width: 768px) {

  body {
    margin: 0;
    padding: 0;
  }

  .non-desktop {
    width: 100%;
    height: 100%;
    z-index: 2;
    background: #fff;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .non-desktop p {
    margin: 0;
    padding: 0;
    color: rgb(128, 232, 111);
    font-family: "Helvetica";
    font-size: 34px;
    text-align: center;
    font-weight: bold;
  }


}
