* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}



.no-button {
  width: 100px;
  height: 30px;
  background-color: red;
  transition: .04s;
}

/* .no-button.active {
transform: translateX(150px);
} */

.yes-button {
  width: 200px;
  height: 100px;
  background-color: lawngreen;
  transition: 0.5s;
  z-index: 1;
}

.yes-button:hover {
  width: 300px;
  height: 150px;
}

/* .no-button:hover {
  transform: translateX(150px);
} */
